<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{% load static %}
<link rel="shortcut icon" href="{% static 'img/icon.ico' %}" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="refresh" content="5;url={% url 'signup' %}">
<meta name="baidu-site-verification" content="U57rhjLsqM" />

  <title>校园666</title>

  <link rel="stylesheet" href="{% static 'css/normalize.css' %}">

    <link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen" type="text/css" />

</head>

<body >
<div style="text-align:center;clear:both">
	<a href="http://webscan.360.cn/index/checkwebsite/url/www.xiaoyuan666.com" name="5e62d372d6074f1737fc03bbf5b222fc" ></a>
</div>
  <div id="whale" ></div>

  <script src="{% static 'js/index.js' %}"></script>

</body>

</html>
